$dark: #555;
$color--primary: #f13412;
$grad1: #f48d7088;
$grad2: #fffde58a;

body {
  //gradient bg
  text-align: center;
  background: linear-gradient(270deg, $grad1, $grad2);
  opacity: 50;
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 92%;
    }

    50% {
      background-position: 100% 9%;
    }

    100% {
      background-position: 0% 92%;
    }
  }

  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 92%;
    }

    50% {
      background-position: 100% 9%;
    }

    100% {
      background-position: 0% 92%;
    }
  }

  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 92%;
    }

    50% {
      background-position: 100% 9%;
    }

    100% {
      background-position: 0% 92%;
    }
  }

  @keyframes AnimationName {
    0% {
      background-position: 0% 92%;
    }

    50% {
      background-position: 100% 9%;
    }

    100% {
      background-position: 0% 92%;
    }
  }
}
input {
  position: inherit;
  background: none;
  border: none;
}

#inp {
  margin-left: -10vw;
}

textarea:focus,
input:focus {
  outline: none;
  color: desaturate($color--primary, 20%);
}

.typo {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: #585858;
  text-decoration: none;

  option {
    font-size: 30px;
  }
}

.transition {
  transition: all 0.4s ease-in-out;
}

.wrapper {
  padding-top: 150px;
  height: 100vh;
  font-size: 4.5rem;
}

.list {
  display: inline-block;
  position: relative;
  //border: 1px solid red;
  margin-left: 6px;

  ul {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;

    .active {
      display: block;
    }
  }

  li {
    list-style: none;

    &:first-child a input {
      color: desaturate($color--primary, 50%);
    }
  }

  a input {
    @extend .typo;
    transition: all 0.4s;
    color: $color--primary;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 5px;
      width: 0;
      left: 0;
      background: lighten($color--primary, 20%);
      bottom: 0;
      transition: all 0.4s ease-out;
    }

    &:hover {
      cursor: pointer;
      color: lighten($color--primary, 20%);

      &:after {
        width: 100%;
      }
    }
  }
}

select {
  display: inline;
  border: 0;
  // width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid $dark;
  color: $color--primary;
  transition: all 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  option {
    border: 0;
    border-bottom: 1px solid $dark;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.placeholder {
  //visibility: hidden;
  //position: fixed;
  border-bottom: 4px solid;
  cursor: pointer;

  &:hover {
    color: lighten($dark, 20%);
  }
}

.hide {
  opacity: 0;
}

#touch {
  cursor: pointer;
}
